<h2>Switches</h2>

<ul>
  <% @switches.each do |switch| %>  
    <li><%= switch.name %> (<%= switch.ip %>) <%= link_to 'edit', edit_switch_path(switch) %>  </li>
  <% end %>
</ul>

<%= link_to "new switch", new_switch_path, :class => 'btn' %>  
