<table class="table-striped table-condensed" id="main">
<thead>
  <tr>
    <th>ip</th>
    <th>nome</th>
    <th>descrizione</th>
    <th>days</th>
    <th>dns</th>
    <th>mac</th>
    <th>dhcp</th>
    <th>conn</th>
    <th>alert</th>
    <th>reset</th>
    <th>wol</th>
    <th>proto</th>
  </tr>
</thead>
<tbody>
</tbody>
</table>


