<h2>New ip range</h2>

<p>for network "<strong><%= @network.name %></strong> (<%= @network.description %>")</p>

<div class="alert alert-info">To create 100 ips from 192.168.1.20 to 192.168.1.120
  use: 
  <ul>
    <li>192.168.1 as first three digits</li>
    <li>20 as starting number</li>
    <li>120 as ending number</li>
  </ul>
</div>

<%= form_tag network_ips_path(@network), :method => "post" do %>
  <p>
    <label>first three network digits</label>
    <input type="text" name="n1" size="3" /> .
    <input type="text" name="n2" size="3" /> .
    <input type="text" name="n3" size="3" />
  </p>

  <p>
    <label>starting number</label>
    <input type="text" name="start" size="3" /> 
    
    <label>ending number</label>
    <input type="text" name="end" size="3" /> 
  </p>

  <br/>

  <input type="submit" class="button"/>
<% end %>

